@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap");

/* Common code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  max-width: 1300px;
}

.container-fluid-max {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* Header and Navigation */

.nav-bar-container {
  position: fixed;
 
  z-index: 999;
  width: 100%;
  height: 100px;
}

.navigation {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4.65px);
  box-shadow: 0px 3px 23px #f1f1f1;
  
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.nav-main-wrapper {
  width: 100%;
  height: 65px;
  padding: 10px 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mobile-nav-wrapper {
  padding: 0 18px 10px 18px;
  width: 100%;
  height: 100%;
}

.nav-image img {
  width: 100%;
  max-width: 135px;
}

.navigation-pages-wrapper {
  font-size: 14px;
}

.nav-link nav {
  display: flex;
  gap: 40px;
}

input, textarea {
  font-family: Montserrat;
}

a{
  color: black;
  text-decoration: none;
}

.nav-link nav a {
  text-decoration: none;
  color: #11090e;
  font-family: Montserrat;
  font-weight: 400;
  position: relative;
}

.nav-link nav a:hover {
  color: #c40000;
}

.nav-link nav .active-nav {
  font-weight: 600;
}

.nav-link nav .active-nav::before {
  content: "";
  position: absolute;
  top: -22px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  min-width: 74px;
  height: 5px;
  background-color: #d00;
}

/* Mobile Styles */
.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}

.burger-menu span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #000;
  border-radius: 5px;
}
.contact-btn {
  display: flex;
  padding: 6px 12px;
  font-family: Syne;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 5px;
  border: 1px solid #000;
}

.contact-btn a {
  text-decoration: none;
  color: #000;
}

/* Mobile Navigation Menu */

.nav-menu-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  border-top: 0.2px solid #c7c7c7;
  margin-top: 10px;
  padding-top: 10px;
}

.mobile-nav-wrapper {
  display: none;
}

.nav-menu-wrapper a {
  padding: 12px 0px 12px 10px;
  width: 100%;
  text-decoration: none;
  color: #000;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
}

.burger-menu span {
  transition: 0.3s ease-in-out;
}

.burger-menu.active :first-child {
  transform: rotate(45deg) translateY(12px);
}

.burger-menu.active :nth-child(2) {
  transform: translateX(-100%);
  opacity: 0;
}

.burger-menu.active :last-child {
  transform: rotate(-45deg) translateY(-12px);
}

.mobile-nav-wrapper.active .nav-menu-wrapper {
  display: flex;
}

.mobile-nav-wrapper.active {
  display: block;
}

.close-menu {
  cursor: pointer;
}

.close-menu svg {
  width: 24px;
  height: 24px;
  stroke: #000;
}

.nav-menu-wrapper .nav-item {
  opacity: 0;
  transform: translateY(-20px);
  animation: slideInNav 0.4s ease forwards;
}

.nav-menu-wrapper .nav-item:nth-child(1) {
  animation-delay: 0.15s;
}

.nav-menu-wrapper .nav-item:nth-child(2) {
  animation-delay: 0.3s;
}

.nav-menu-wrapper .nav-item:nth-child(3) {
  animation-delay: 0.45s;
}

.nav-menu-wrapper .nav-item:nth-child(4) {
  animation-delay: 0.6s;
}

.nav-menu-wrapper .nav-item:nth-child(5) {
  animation-delay: 0.75s;
}

@keyframes slideInNav {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Burger Menu */
.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}

.burger-menu span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #000;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .nav-link {
    display: none;
  }

  .contact-btn {
    display: none;
  }

  .burger-menu {
    display: flex;
  }
}
/* Left Header */

.left-header {
  width: 100%;
  padding: 20px;
  max-width: 600px;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(7.65px);
}

.left-header h1 {
  color: #000;
  font-family: Syne;
  font-weight: 600;
}

.left-header .highlight {
  color: #c40000;
  display: inline-block;
  position: relative;
  font-family: Syne;
  font-weight: 600;
}

.left-header .highlight::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 80%;
  height: 2px;
  background-color: #c40000;
}

.highlight {
  display: inline-block;
  animation: slideFromTop 1s ease-in-out forwards;
}



@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.landing-img {
  width: 100%;
  height: 100vh;
}

.landing-img img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 300%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100%;
  flex: 0 0 100%;
}

.slide img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}


.sliding-landing{
  width: 100%;
  flex: 0 0 100%;
}

.sliding-landing{
   width: 100%;
  height: 300px;
  object-fit: cover;
}
.whole-slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.dots-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease, width 0.3s ease, height 0.3s ease,
    border-radius 0.3s ease;
}

.dot:hover {
  transform: scale(1.1);
}

.dot.active {
  background-color: red;
  width: 30px;
  height: 10px;
  border-radius: 5px;
  opacity: 1;
}

/* Right Header */

.right-header {
  position: relative;
  border-radius: 16px;
  background: #fff;
  width: 100%;
  height: auto;
  padding: 30px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-inside-header h4 {
  font-family: "Syne", sans-serif;
  font-weight: 500;
  color: #000;
  margin-bottom: 10px;
}

.right-inside-header p {
  font-family: "Syne", sans-serif;
  font-weight: 400;
  color: #606060;
  margin-bottom: 20px;
}
.form-filling input[type="text"],
.form-filling input[type="email"],
.form-filling textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0 0 0;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  font-size: 14px;
}

.form-filling .error{
  font-size: 12px;
  color: #c40000;
}

.form-filling input:focus,
.form-filling textarea:focus {
  border: none ;
  border-bottom: 2px solid #000;
  outline: none;
}

.phone-input {
  display: flex;
  align-items: center;
  margin-top: 15px;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  overflow: hidden;
  width: 100%;
}

.country-code-input{
  margin: 0 !important;
}

.phone-input span {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #333;
  border: none;
  border-right: 2px solid #ccc;
  outline: none;
}

.phone-input input[type="tel"] {
  width: calc(100% - 70px);
  padding: 10px;
  border: none;

  outline: none;
  font-size: 14px;
}
.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 8px;
}

.checkbox-container label {
  font-family: "Syne", sans-serif;
  font-weight: 400;
  color: #606060;
}

button[type="submit"] {
  background-color: #d0021b;
  color: white;
  padding: 10px 16px;
  font-size: 16px;
  border: none;
 
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

button[type="submit"] span {
  margin-left: 10px;
}

button[type="submit"]:hover {
  background-color: #a80015;
}

.country-code-input {
  border: none !important;
  margin-bottom: 0 !important;
  padding-right: 0 !important;
}


/* Testimonal */

.testimonial-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.whole-testimonial {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.5s ease;
}

.testimonial {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  margin-top: 30px;
  position: relative;
}

.testimonial-box {
  border: 1px solid #1d84c5;
  background: #fff;
  box-shadow: 37px 36px 0px -13px #dde4ed;
  width: 100%;
  padding: 20px;
  padding-top: 40px;
}

.testimonial-box p {
  color: #545962;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  text-transform: capitalize;
}

.test-details {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.test-details img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.test-proof {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.test-proof p {
  margin-bottom: 0;
}

.testimonial-nav {
  text-align: center;
  margin-top: 20px;
}

.test-img {
  display: flex;
  position: absolute;
  top: -30px;
  z-index: 10;
}

.testimonial-main-container {
  overflow-x: hidden;
}

.testimonial-main-container .swiper-pagination {
  position: relative;
}

.dot {
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
}

.swiper-pagination-bullet {
  width: 9px !important;
  height: 5px !important;
  background: #000;
  opacity: 1;
  border-radius: 1px !important;
  position: relative;
  margin: 0 2px !important;
}

.testimonial-main-container {
  position: relative;
}

.swiper-pagination-bullet-active {
  background: #007aff;
  width: 20px !important;
}
