.ctn-preloader {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 900;
    cursor: default; /* Ensures the cursor is visible */
}

.ctn-preloader .animation-preloader {
    position: absolute;
    z-index: 100;
}

.ctn-preloader .animation-preloader .spinner {
    animation: spinner 1s infinite linear;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-top-color: #000000;
    height: 9em;
    margin: 0 auto 3.5em auto;
    width: 9em;
}

.ctn-preloader .animation-preloader .txt-loading {
    font: bold 5em 'Montserrat', sans-serif;
    text-align: center;
    user-select: none;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
    animation: letters-loading 4s infinite;
    color: #000000;
    content: attr(data-text-preloader);
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: rotateY(-90deg);
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading {
    color: rgba(0, 0, 0, 0.2);
    position: relative;
}

.ctn-preloader .loader-section {
    background-color: #ffffff;
    height: 100%;
    position: fixed;
    top: 0;
    width: calc(50% + 1px);
}

.ctn-preloader .loader-section.section-left {
    left: 0;
}

.ctn-preloader .loader-section.section-right {
    right: 0;
}

.loaded .animation-preloader {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.loaded .loader-section.section-left {
    transform: translateX(-101%);
    transition: transform 0.7s 0.3s cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

.loaded .loader-section.section-right {
    transform: translateX(101%);
    transition: transform 0.7s 0.3s cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

/* Hide preloader interaction */
.preloader-hidden {
    display: none; /* Completely removes the preloader from view */
    pointer-events: none; /* Ensures it does not block interactions */
}

/* Spinner Animation */
@keyframes spinner {
    to {
        transform: rotateZ(360deg);
    }
}

/* Text Animation */
@keyframes letters-loading {
    0%, 75%, 100% {
        opacity: 0;
        transform: rotateY(-90deg);
    }
    25%, 50% {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

/* Responsive adjustments */
@media screen and (max-width: 767px) {
    .ctn-preloader .animation-preloader .spinner {
        height: 8em;
        width: 8em;
    }
    .ctn-preloader .animation-preloader .txt-loading {
        font: bold 3.5em 'Montserrat', sans-serif;
    }
}

@media screen and (max-width: 500px) {
    .ctn-preloader .animation-preloader .spinner {
        height: 7em;
        width: 7em;
    }
    .ctn-preloader .animation-preloader .txt-loading {
        font: bold 2em 'Montserrat', sans-serif;
    }
}
